@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

.extra_padding {
    padding-top: 15px;
    padding-left: 10px;
    font-weight: bold;
    color: blue;
}
